/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

/* ------------------------------ */

.superWrapper {
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin: 2% 0%;
    text-align: center;
}

h4 {
    margin: 3% 0;
    font-weight: normal;
    font-style: oblique;
    text-align: center;
    color: grey;
}

.wrapperSearch {
    width: 95%;
    margin: 2% 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.wrapperSearch input {
    width: 99%;
    margin-bottom: 3%;
}

.wrapperSearch button {
    width: 45%;
    margin: 1%;
}

.wrapperResult {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wrapperResult div {
    width: 45%;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    /* font-size: 1.2rem; */
    margin: 2.5%;
    text-align: center;
}

h2:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}

.wrapperDet {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wrapperDet div {
    width: 100%;
    margin: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapperDet button {
    width: 50%;
    margin:1%;
}

.wrapperDet img {
    border-radius: 50%;
}

.wrapperDet img {
    width: 50vw;
    margin: 1%;
}

.wrapperDet p {
    line-height: 1.5;
    margin: 1%;
}

.dissap {
    display: none;
}

/* ------------------------------MEDIA QUERIES */

@media screen and (min-width: 480px) {
    h1 {
        font-size: 3.5rem;
    }
    
    .wrapperSearch {
        flex-wrap: nowrap;
        align-items: baseline;
    }
    
    .wrapperSearch input {
        width: 59%;
        margin-bottom: 0;
    }

    .wrapperSearch button {
        width: 20%;
        margin: 0;
    }
    
    .wrapperDet {
        width: 95%;
    }

    .wrapperDet div {
        width: 45%;
    }

    .wrapperDet img {
        width: 35vw;
        margin: 1%;
    }

    .wrapperDet button {
        width: 100%;
        margin:1%;
    }
}

@media screen and (min-width: 960px){
    h1 {
        margin: 1% 0 0 0;
    }

    h4 {
        margin: 1% 0;
    }

    .wrapperSearch {
        margin: 1% 0;
    }

    .wrapperResult div {
        margin: 1%;
    }

    .wrapperDet div {
        margin: 0;
    }

    .wrapperDet img {
        width: 16vw;
        margin: 1%;
    }
}